---
import Header from "../components/Header.astro"
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>GrandLine Agency</title>
  </head>
  <body>
    <Header />
  </body>
</html>

<style is:global>
  @import url(https://fonts.bunny.net/css?family=almendra-sc:400|urbanist:400,500,600,700,800,900);
</style>
