---
import { Image } from "astro:assets";
import menuLinks from "../utils/menuLinks";
import wallpaper from "../assets/wallpaper.png";
import Hamburger from "./Hamburger";
import waveSVG from "../assets/wave-effet.svg";
import NavLink from "./NavLink.astro";
---

<header
  class="w-full h-[750px] lg:px-20 px-10 py-3 header-bg bg-auto md:bg-cover relative overflow-hidden"
>
  <nav class="flex z-10 items-center justify-between">
    <!-- Icone -->
    <div class="z-10">
      <h1 class="font-AlmendraSC text-white text-4xl">GrandLine Agency</h1>
    </div>
    <!-- Menu -->

    <!-- Si taille écran > 768px Afficher liste menu  -->
    <ul
      class="hidden z-10 md:flex space-x-4 lg:space-x-16 text-slate-100 font-semibold items-center justify-center"
    >
      {menuLinks.map(({ link, name }) => <NavLink link={link} name={name} />)}
    </ul>

    <!-- Sinon, afficher burger menu -->
    <div class="block z-10 md:hidden">
      <Hamburger client:visible />
    </div>
  </nav>
  <h2
    class="sm:text-5xl text-2xl font-AlmendraSC text-white -translate-x-7 absolute md:translate-y-10 sm:translate-y-8 bottom-1/2"
  >
    Découvrez, naviguez, explorez, <br /> affrontez la mer.
  </h2>

  <!-- Wave SVG -->
  <Image
    src={waveSVG}
    alt="Wave SVG"
    class="absolute bottom-0 w-screen scale-x-[250%] left-0 md:translate-x-[500px] translate-x-0 xl:translate-y-16 2xl:translate-y-20 flex justify-self-end self-end fill-black"
  />
</header>

<style>
  .header-bg {
    background-image: url("../assets/wallpaper.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fade {
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -moz-linear-gradient(
      top,
      rgb(19, 59, 112) 0%,
      rgba(110, 146, 152, 0) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(19, 59, 112, 1)),
      color-stop(100%, rgba(110, 146, 152, 0))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(19, 59, 112, 1) 0%,
      rgba(110, 146, 152, 0) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(19, 59, 112, 1) 0%,
      rgba(110, 146, 152, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(19, 59, 112, 1) 0%,
      rgba(110, 146, 152, 0) 100%
    );
  }
</style>
